<a href="https://colab.research.google.com/github/M356953/ICTAK_AI_ML/blob/main/Python_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. A financial analyst stores monthly revenues in a list: [120000, 135000, 128000,
142000, 150000]]. Find the difference between the highest and lowest revenue without
using loops.

In [ ]:
l1= [120000, 135000, 128000,142000, 150000]
diff=max(l1)-min(l1)
diff

30000

2.Given the tuple account = ('Asha', 'Savings', 56000, 'KCH'), unpack the values into
separate variables and print a formatted string: 'Asha has ₹56000 in her Savings
account (Branch: KCH)'.

In [30]:
account = ('Asha', 'Savings', 56000, 'KCH')
name=account[0]
actype=account[1]
amount=account[2]
branch=account[3]
fstr=f"{name} has ₹{amount} in her {actype} account (Branch: {branch})"
#fstr=name + ' has ₹'+str(amount)+' in her ' +actype +' account (Branch:' + branch+  ')'
fstr

'Asha has ₹56000 in her Savings account (Branch: KCH)'

3. Convert the list of string numbers ['45000', '56000', '38000'] to integers and find
their average balance.

In [ ]:
list_string= ['45000', '56000', '38000']
list_numbers=list(map(int, list_string))
list_average=sum(list_numbers)/len(list_numbers)
list_average

46333.333333333336

4. Create a list with elements: ['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']. Replace
'Delhi' with 'Hyderabad' and print the new list in reverse order using slicing.

In [ ]:
list_place=['Kochi', 'Chennai', 'Mumbai', 'Delhi', 'Pune']
ind=list_place.index('Delhi')
list_place[ind] ='Hyderabad'
list_place_rev=list_place[::-1]
list_place_rev

['Pune', 'Hyderabad', 'Mumbai', 'Chennai', 'Kochi']

5. You have two tuples: interest_2024 = (7.1, 7.3, 7.2) and interest_2025 = (7.4, 7.5).
Combine them and print the average of all interest rates.

In [ ]:
interest_2024 = (7.1, 7.3, 7.2)
interest_2025 = (7.4, 7.5)
combined_tuple=interest_2024+interest_2025
combined_tuple
tuple_average=sum(combined_tuple)/len(combined_tuple)
tuple_average

7.3

6. A string variable branch_id = 'TVM-FIN-2025'. Extract the branch code (first three
letters) and the year (last four digits).

In [ ]:
branch_id = 'TVM-FIN-2025'
branch_code=branch_id[0:3]
branch_year=branch_id[8:12]
print('branch_code= ' + branch_code)
print('branch_year= '+branch_year)

branch_code= TVM
branch_year= 2025

7. Create a list transactions = [10000, -2000, 5000, -1500, 3000]. Without using loops,
find total deposits and withdrawals using list slicing or indexing only.

In [ ]:
transactions = [10000, -2000, 5000, -1500, 3000]
deposits=transactions[0:len(transactions):2]
total_deposits=sum(deposits)
withdrawals=transactions[1:len(transactions):2]
total_withdrawals=sum(withdrawals)
total_withdrawals
print('total_deposits',  total_deposits)
print('total_withdrawals = ' ,total_withdrawals)

total_deposits 18000
total_withdrawals =  -3500

8. Given name = 'John Doe' and balance = 72500, print a message in title case stating
'John Doe has a balance of ₹72500'. Ensure no type errors occur.

In [ ]:
name = 'John Doe'
balance = 72500
msg=name + ' has a balance of ₹' + str(balance)
msg

'John Doe has a balance of ₹72500'

9. A tuple customer = ('Kiran', 'Loan', 80000, 7.5). Calculate and print the total amount
payable after 1 year if interest is simple interest based on rate 7.5%.

In [ ]:
customer = ('Kiran', 'Loan', 80000, 7.5)
total_amount_payable=customer[2]*customer[3]/100
print('total_amount_payable = ',total_amount_payable)

total_amount_payable =  6000.0

10. Create two lists – branches = ['Kochi', 'Chennai', 'Mumbai'] and profits = [120000,
95000, 134000]. Form a new list of tuples pairing each branch with its profit.

In [ ]:
branches = ['Kochi', 'Chennai', 'Mumbai']
profits = [120000, 95000, 134000]

11. From a list salaries = [45000, 56000, 38000, 62000, 54000], extract the top three
salaries using slicing only.

In [ ]:
salaries = [45000, 56000, 38000, 62000, 54000]
salaries.sort()
salaries.reverse()
salaries[0:3]

[62000, 56000, 54000]

12. Given the tuple exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9), convert it into a list
and change the third value to 84.0.

In [ ]:
exchange_rates = (83.2, 83.1, 83.5, 83.0, 82.9)
tuple_new=list(exchange_rates)
tuple_new[2]=84
tuple_new

[83.2, 83.1, 84, 83.0, 82.9]

13. Combine two lists customer_names = ['Asha', 'John', 'Meera'] and balances = [56000,
72000, 65000] into a formatted string such as 'Asha:56000, John:72000, Meera:65000'
without loops.

In [28]:
customer_names = ['Asha', 'John', 'Meera']
balances = [56000, 72000, 65000]
f_string =f"{customer_names[0]}:{balances[0]},{customer_names[1]}:{balances[1]},{customer_names[2]}:{balances[2]}"

f_string

'Asha:56000,John:72000,Meera:65000'

14. Given account_info = (Deepa, 'Savings', 98000), use string formatting to print a
sentence 'Account Holder Deepz has ₹98000 in Savings account'.

In [34]:
account_info = ('Deepa', 'Savings', 98000)
f_str=f"Account Holder {account_info[0]} has ₹{account_info[2]} in {account_info[1]} account"
f_str

'Account Holder Deepa has ₹98000 in Savings account'

15. Create a nested list storing branch names and their monthly collections: [['Kochi',
[120000, 135000]], ['Chennai', [95000, 110000]]]. Print only the collection of Chennai
branch without using loops.

In [37]:
n_list=[['Kochi', [120000, 135000]], ['Chennai', [95000, 110000]]]
c_list=n_list[1]
print("Monthly Collection of Chennai Branch is ",c_list[1])

Monthly Collection of Chennai Branch is  [95000, 110000]